body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header {
    background: url(img/first-bg.jpg) no-repeat center top / cover;
    height: 100vh;
    text-transform: uppercase;
}
ul {
    display: flex;
    float: right;
    margin: 0px;
}
li {
    margin-top: 30px;
    margin-right: 90px;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
.logo {
    margin-left: 300px;
    margin-top: 30px;
}
h1, h2 {
    text-align: center;
    color: white;
    font-size: 56px;
}
h2 {
    font-size:76px;
    margin-top: 20px;
}
.text {
    margin-top: 200px;
}
.button {
    display: flex;
    justify-content: center;
}
button {
    background-color: orange;
    border-color: orange;
    box-shadow: 15 10 15 grey;
    border: 10px;
    height: 50px;
    width: 250px;
    cursor:pointer;
    font-size: 26px;
}
.section-1 {
    height: 400px;
}
.section-2 {
    height: 600px;
    background-color: #ebebe0;
}
.section-1 > h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 12px;
}
.section-1 > p {
    margin-bottom: 35px;
    text-align: center;
    opacity: 0.8;
}
.main-icon {
    display: flex;
    justify-content: center;
}
div[class^="icon"] > img {
    position: relative;
    left: 39%;
}
div[class^="icon"] {
    margin-right: 50px;
    margin-left: 50px; 
}
div[class^="icon"] > p {
    opacity: 0.8;
    text-align: center;
}
div[class^="icon"] > h6 {
    font-size: 18px;
    margin: 15px;
    text-align: center;
}
.section-2 > h3 {
    margin: 0px;
    font-size: 35px;
    text-align: center;
    position: relative;
    top: 100px;
    text-transform: uppercase;
}
.section-2 > p {
    position: relative;
    top: 110px;
    text-align: center;
    opacity: 0.8;
}
.img {
    display: flex;
    justify-content: center;
    margin-top: 160px;
}
img[src^="img/img"] {
    margin-right: 30px;
}
.footer-name > h3 {
    text-align: center;
    font-size: 35px;
    margin-top: 100px;
    text-transform: uppercase;
}
.footer-name > p {
    text-align: center;
    opacity: 0.8;
}
.footer-text1 {
    float: left;
    margin-left: 355px;
    margin-right: 15px;
    margin-top: -35px;
}
.footer-main1 {
    margin-top: 50px;
}
.footer-text2 {
    float: left;
    margin-left: 15px;
    margin-top:-35px;
}
.footer-main2 > img {
    margin-left: 670px;
    float: left;
}
.footer-main2 {
    margin-top: 50px;
}
.footer-text3 {
    float: left;
    margin-left: 350px;
    margin-top: -15px;
    margin-right: 15px;

}
.footer-main3 {
    margin-top: 50px;
}
.footer-main3 > img {
    margin-top: 25px;
    float: left;
}
.f4 {
    margin-top: 25px;
    margin-left: 15px;
}
#fo4 {
    margin-top: 35px;
}
footer > p {
    margin-top: 50px;
    text-align: center;
    float: left;
    width: 100%;
    opacity: 0.8;
}
.div[class^="footer"] > h6 {
    text-transform: uppercase;
}
h6 {
    text-transform: uppercase;
    font-size: 15px;
}
.button-fixed {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: #ECD2CD;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px 0px black; 
}
div[class^="lines"] {
    height: 18px;
    width: 2px;
    background: #000;
    margin-right: 4px;
    position: absolute;
}
.lines2 {
    margin-left: 0.5px;
}
#lines1 {
    transform:rotateY(30deg)rotateX(0deg)rotateZ(30deg);
    height: 15px;
    margin-left: -3px;
}
#lines3 {
    transform:rotateY(-30deg)rotateX(-0deg)rotateZ(-30deg);
    height: 15px;
    margin-left: 3.5px;
}
.main-line{
    margin-bottom: 20px;
}
button:focus {
    outline: none;
}